<html>
<head>
<meta charset="utf-8" />
<title>GPU list</title>
</head>
<body>

            <form method="GET">
	<select name="GPU1" required>
	<option value="">select GPU1</option>
	{% for mygpu in gpu_array %}
    <option value="{{ mygpu.key.id() }}">{{ mygpu.key.id() }}</option>
    {% endfor %}
  </select>

  <select name="GPU2" required>
  	<option value="">select GPU2</option>
  {% for mygpu in gpu_array %}
    <option value="{{ mygpu.key.id() }}">{{ mygpu.key.id() }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Compare" name="compare" />
  <br>
  </form><p> GPU's name Should not be same </p>
  <form method="get">

  		<table{% if firstgpu != secondgpu  %}>
  <tr>
  <td>GPU name</td>
  <td>{{ firstgpu }}</td>
  <td>{{ secondgpu }}</td>
  </tr>
    <tr>
        <td>Geometry Shader</td>
        {% for mygpu in gpu_array %}

        <td {% if mygpu.key.id()  == firstgpu %}>{{ mygpu.geometry_shader }}</td {% endif %}>
        {% endfor %}
                {% for mygpu in gpu_array %}

        <td {% if mygpu.key.id()  == secondgpu %}>{{ mygpu.geometry_shader }}</td {% endif %}>
        {% endfor %}
    </tr>
            <td>Tesselation Shader</td>
        {% for mygpu in gpu_array %}

        <td {% if mygpu.key.id()  == firstgpu %}>{{ mygpu.tesselation_shader }}</td {% endif %}>
        {% endfor %}
                {% for mygpu in gpu_array %}

        <td {% if mygpu.key.id()  == secondgpu %}>{{ mygpu.tesselation_shader }}</td {% endif %}>
        {% endfor %}
    </tr>
            <td>ShaderInt16</td>
        {% for mygpu in gpu_array %}

        <td {% if mygpu.key.id()  == firstgpu %}>{{ mygpu.shaderInt16 }}</td {% endif %}>
        {% endfor %}
                {% for mygpu in gpu_array %}

        <td {% if mygpu.key.id()  == secondgpu %}>{{ mygpu.shaderInt16 }}</td {% endif %}>
        {% endfor %}
    </tr>
            <td>Sparse Binding</td>
        {% for mygpu in gpu_array %}

        <td {% if mygpu.key.id()  == firstgpu %}>{{ mygpu.sparse_binding }}</td {% endif %}>
        {% endfor %}
                {% for mygpu in gpu_array %}

        <td {% if mygpu.key.id()  == secondgpu %}>{{ mygpu.sparse_binding }}</td {% endif %}>
        {% endfor %}
    </tr>
            <td>Texture CompressionETC2</td>
        {% for mygpu in gpu_array %}

        <td {% if mygpu.key.id()  == firstgpu %}>{{ mygpu.texture_compressionETC2 }}</td {% endif %}>
        {% endfor %}
                {% for mygpu in gpu_array %}

        <td {% if mygpu.key.id()  == secondgpu %}>{{ mygpu.texture_compressionETC2 }}</td {% endif %}>
        {% endfor %}
    </tr>
            <td>Vertex Pipeline Stores</td>
        {% for mygpu in gpu_array %}

        <td {% if mygpu.key.id()  == firstgpu %}>{{ mygpu.vertex_pipeline_stores }}</td {% endif %}>
        {% endfor %}
                {% for mygpu in gpu_array %}

        <td {% if mygpu.key.id()  == secondgpu %}>{{ mygpu.vertex_pipeline_stores }}</td {% endif %}>
        {% endfor %}
    </tr>
    
    <p{ % else %}>{{ error }} </p>
  </table {% endif %}>
    <br>
    <a href= "/">HOME</a>
</body>
</html>
