<html>
	<head>
		<meta charset="utf-8"/>
		<title>Update GPU information</title>
	</head>
	<body>
		<form method = "post">
			 <h4> GPU Name: {{ mygpu.key.id() }}</h4>
			 <h4> Manufacturer's Name: <input type = "text" name = "manufacturer" value = "{{ mygpu.manufacturer }}" size="30" /></h4>
			 <h4> Date Issued: <input type = "date" name = "date_issued" value ="{{ mygpu.date_issued }}" size="30" /></h4>
			<ul>
				<li><input type = "checkbox" name ="geometryShader" {% if mygpu.geometry_shader %} checked {% endif %} />Geometry Try Shader</br></li>
				<li><input type = "checkbox" name ="tesselationShader" {% if mygpu.tesselation_shader %} checked {% endif %} />Tesselation Shader</br></li>
				<li><input type = "checkbox" name ="shaderInt16" {% if mygpu.shaderInt16 %} checked {% endif %}  />Shader Int16</br></li>
				<li><input type = "checkbox" name ="sparseBinding" {% if mygpu.sparse_binding %} checked {% endif %} />Sparse Binding</br></li>
				<li><input type = "checkbox" name ="textureCompressionETC2" {% if mygpu.texture_compressionETC2 %} checked {% endif %} />Texture Compression ETC2</br></li>
				<li><input type = "checkbox" name ="vertexPipelineStores" {% if mygpu.vertex_pipeline_stores %} checked {% endif %} />Vertex Pipeline Stores And Atomics</br></li>
				

			</ul>
			<button  type="submit">Submit</button>
			<button  type="submit">Cancel</button>
		</form>
	</body>
</html>
